@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

header > .container {
  justify-content: center;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
  justify-content: space-between;
}

.product__image {
  width: 6rem;
  height: auto;
  margin-right: 3rem;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}

.button-div {
  width: 65px;
  margin-right: 10px;
}

.button-div > p {
  text-align: center;
}

.button-div > button {
  margin: 0 9px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border-color: wheat;
  border-style: solid;
  border-width: 5px; */
  box-shadow:20px 20px 50px 15px grey;
}

.white {
  background-color: white;
}

.black {
  background-color: black;

}

.red {
  background-color: #9d3232;
}

.blue {
  background-color: skyblue;
}

.product__colors {
  margin-left: 0;
  margin-right: 0;
}

.choose-colors > p {
  margin-left: 10px;
}

.color-option__box {
  align-items: flex-start;
}

.product__order button {
  width: 150px;
  border-radius: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  border: solid 1px white;
}
